<ion-header>
  <ion-toolbar>
    <ion-title> Cuenta </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content padding>

	<!-- <ionic-label> Contacto: </ionic-label> -->

	

	<p>{{data}}</p> 
	<p>{{info}}</p>
	<p>{{authors}}</p>

	<ion-button expand="full" (click)="loadSpecialInfo()"> Información </ion-button>
	<ion-button expand="full" (click)="logout()"> Cerrar Sesión </ion-button>
	<!-- <ion-button expand="full" (click)="clearToken()"> Clear JWT </ion-button> -->

	<!--<ion-card> -->

	<!--<ion-card-subtitle> -->
        <h5>Contacto:</h5>
        <p style="text-align:right;"> electroproun@gmail.com </p>
    <!--</ion-card-subtitle> -->

    <!--<ion-card-subtitle> -->
        <h5>Síguenos en nuestro instagram:</h5>
        <p style="text-align:right;"> <a target="_blank" rel="noopener noreferrer" href="https://www.instagram.com/electropro_un/">@electropro_un</a></p>
    <!--</ion-card-subtitle> -->

	
	
	<!--</ion-card>	-->
	

</ion-content>
