<ion-app>
    <ion-header>
      <ion-toolbar>
        <ion-title>Detalles de la medición</ion-title>

         <ion-buttons slot="start">
          <ion-back-button defaultHref="/"></ion-back-button>
        </ion-buttons> 

      </ion-toolbar>
    </ion-header>,
    <ion-content fullscreen>

      <ion-card *ngIf="information">
        
        <ion-card-header>

          <ion-card-subtitle>
          <h5>{{"Fecha de la medición: "}}</h5>
          <p style="text-align:right;"> {{information.date}}</p>
          </ion-card-subtitle>

          <ion-card-subtitle>
          <h5>{{"Hora de la medición: "}}</h5>
          <p style="text-align:right;"> {{information.hour}}</p>
          </ion-card-subtitle>

          <ion-card-title>
            <h1>{{"Consumo: "}}</h1>
            <p style="text-align:right;"> {{information.m_kwh + " KWh"}}</p>
            <p style="text-align:right;"> {{(information.m_joule| number : fractionSize) + " J"}}</p>
          </ion-card-title>

          <ion-card-subtitle>
          <h5>{{"Lectura número: "}}</h5>
          <p style="text-align:right;"> {{information.id}}</p>
          </ion-card-subtitle>

          <ion-card-subtitle>
          <h5>{{"Ubicación del medidor: " }}</h5>
          <p style="text-align:right;"> {{information.place}}</p>
          </ion-card-subtitle>

          <ion-card-subtitle>
          <h3>{{"Precio: "}}</h3>
          <p style="text-align:right;"> {{"$" + (information.cost | number : fractionSize)}}</p>
          </ion-card-subtitle>


        </ion-card-header>
      </ion-card>
    </ion-content>
</ion-app>
